/* header styling ----------------------------------------------------------  */
header
{
    background-color: black;
    height:150px;
    width: 100%;
    margin:0%;
    padding:0%;
}

#headerImg
{
    float: left;
    padding:1.5%;
    width: 7%;
    height: 70%;
}

.bannerContent
{
    padding-top: 4.5%;
}

#headerLabel
{
    color: white;
    float: left;
    text-align: justify;
}


header ul li 
{
    display: inline;
    float: right;
    color: white;
    padding: 1%;

    border-style: hidden;
    border-radius: 8%;

    margin: 1% 2% 2% 1%;

    background-color:grey;
    color: white;
    
}

header ul li:hover
{
    background-color: darkslategrey;
}

/* navigation bar styling----------------------------------------------------- */
nav
{
    background-color: grey;
    margin-top: -1.1%; 
}

nav ul li
{
    display: inline-block;

    padding: 1.5%;

    border-style: hidden;
    border-radius: 8%;

    margin: 1% 0.2% ;

    background-color:black;
    color: white;
}

nav ul li:hover
{
    background-color: darkslategrey;
}

/* content section styling--------------------------------------------------- */
#content
{
    background-color: darkred;
    color: white;
}

/* footer section styling------------------------------------------------------ */
#footer
{
    background-color: black;
    color: white;
}